@model BookListViewModel

<h4>Reservations</h4>
<table class="table">
    <thead>
        <tr>
            <th>Book title</th>
            <th>Author</th>
            <th>Release</th>
            <th>Rating</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Books)
        {
            <tr>
                <td>@book.Title</td>

                <td>@book.Author.FirstName, @book.Author.LastName</td>
                <td>@book.Release.ToString("dd-MM-yyyy")</td>
                <td>@book.Ratings.Average(a => a.RatingNumber)</td>
                <td>@book.Genres.First().Name</td>
                
            </tr>
        }
    </tbody>
</table>
