@model BookDetailModel

<h4>Admin Book detail</h4>
<div class="row">
    <div class="col-md-4">
        <table class="table">
            <tbody>
                <tr>
                    <td>Book title:</td>
                    <td>@Model.BookTitle</td>
                    <td><a class="btn btn-secondary my-1" href="@Url.Action("EditTitle", "AdminBook", new { bookId = Model.Id })">Edit</a></td>
                </tr>
                <tr>
                    <td>Author:</td>
                    <td>@Model.AuthorName</td>
                    <td><a class="btn btn-secondary my-1" href="@Url.Action("ChangeAuthorList", "AdminBook", new { bookId = Model.Id })">Edit</a></td>
                </tr>
                <tr>
                    <td>Release date:</td>
                    <td>@Model.ReleaseDate.ToString("dd-mm-yyyy")</td>
                    <td><a class="btn btn-secondary my-1" href="@Url.Action("EditRelease", "AdminBook", new { bookId = Model.Id })">Edit</a></td>
                </tr>
                <tr>
                    <td>Genres:</td>
                    <td>@Model.Genres</td>
                    <td><a class="btn btn-secondary my-1" href="@Url.Action("ChangeGenresList", "AdminBook", new { bookId = Model.Id })">Edit</a></td>
                </tr>
                <tr>
                    <td>Rating:</td>
                    <td>@Model.RatingNumber</td>
                </tr>
                <tr>
                    <td>
                        <a class="btn btn-secondary my-1" href="@Url.Action("", "AdminBook", new { bookId = Model.Id })">Manage bookprints</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="btn btn-secondary my-1" href="@Url.Action("Index", "AdminRating", new { bookId = Model.Id, bookTitle = Model.BookTitle })">Manage ratings</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        @if (Model.CanBeDeleted)
                        {
                            <a class="btn btn-secondary my-1" href="@Url.Action("Delete", "AdminBook", new { bookId = Model.Id })">Delete</a>
                        } else
                        {
                            <a class="btn btn-secondary my-1" onclick="showAlert()">Delete</a>
                        }

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section scripts{
<script>
    function showAlert() {
    var myText = "Book cannot be deleted due still active reservations!";
    alert (myText);
  }
    </script>
}