@model BookDetailModel

<h4>Admin Book detail</h4>
<div class="row">
    <div class="col-md-4">
        <table class="table">
            <tbody>
                <tr>
                    <td>Book title:</td>
                    <td>@Model.BookTitle</td>
                    <td><a class="btn btn-secondary my-1" href="@Url.Action("EditTitle", "AdminBook", new { bookId = Model.Id })">Edit</a></td>
                </tr>
                <tr>
                    <td>Author:</td>
                    <td>@Model.AuthorName</td>
                    <td><a class="btn btn-secondary my-1" href="@Url.Action("ChangeAuthor", "AdminBook", new { bookId = Model.Id })">Edit</a></td>
                </tr>
                <tr>
                    <td>Release date:</td>
                    <td>@Model.ReleaseDate</td>
                    <td><a class="btn btn-secondary my-1" href="@Url.Action("EditRelease", "AdminBook", new { bookId = Model.Id })">Edit</a></td>
                </tr>
                <tr>
                    <td>Genres:</td>
                    <td>@Model.Genres</td>
                    <td><a class="btn btn-secondary my-1" href="@Url.Action("ChangeGenres", "AdminBook", new { bookId = Model.Id })">Edit</a></td>
                </tr>
                <tr>
                    <td>Rating:</td>
                    <td>@Model.RatingNumber</td>
                </tr>
                <tr>
                    <td>
                        <a class="btn btn-secondary my-1" href="@Url.Action("", "AdminBook", new { bookId = Model.Id })">Manage bookprints</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="btn btn-secondary my-1" href="@Url.Action("", "AdminBook", new { bookId = Model.Id })">Manage ratings</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        @if (Model.CanBeDeleted)
                        {
                            <a class="btn btn-secondary my-1" href="@Url.Action("Delete", "AdminBook", new { bookId = Model.Id })">Delete</a>
                        } else
                        {
                            <a class="btn btn-secondary my-1 submitButton">Delete</a>
                        }

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section scripts{
<script>
    $(document).ready(function () {
        $("#submitButton").on("click", function () {
            alert('Your Message');
        });

    });
    </script>
}