@model FE.Models.Admin.AdminBookViewModel


<h4>Admin Books</h4>



<div class="row">
    <div class="col-md-4">
        
    <form asp-controller="AdminBook" asp-action="Index">
    
        <p>
            <div>
            Title: <input type="text" name="SearchString"  />
            <input type="submit" value="Search" />
            </div>

        </p>
    
    </form>
             </div>
    </div>

    


<table class="table">
    <thead>
        <tr>
            <th>Book title</th>
            <th>Author</th>
            <th>Rating</th>
            <th>Genres</th>
            <th>Released</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Books)
        {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.AuthorName</td>
                    <td>@book.RatingNumber /5</td>
                    <td>@book.BookGenres</td>
                    <td>@book.Release.ToString("dd-MM-yyyy")</td>

                <td>
                    <a class="btn btn-secondary my-1" href="@Url.Action("Detail", "AdminBook", new { bookId = book.Id })">View</a>
                </td>

                </tr>
        }
    </tbody>
</table>

