@model ReservationEditViewModel
<link href="~/jqueryui/jquery-ui.css" rel="stylesheet" />

<h4>Reservation</h4>
@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.BookTitle)
    @Html.HiddenFor(x => x.BookPrintId)
    @Html.HiddenFor(x => x.BranchId)
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(x => x.StartDate)

        @if(Model.StartDate.Date.ToLocalTime() <= DateTime.Today)
        {
            @Html.HiddenFor(x => x.StartDate)
            <input asp-for="StartDate" type="text" disabled class="form-control" placeholder="Start date" />
        } 
        else
        {
            <input asp-for="StartDate" type="text" class="form-control" placeholder="Start date" />
        }
        @Html.ValidationMessageFor(x => x.StartDate, null, new { @class = "text-danger" })
        
        @Html.LabelFor(x => x.EndDate)
        <input asp-for="EndDate" type="text" class="form-control" placeholder="End date" />
        @Html.ValidationMessageFor(x => x.EndDate, null, new { @class = "text-danger" })

        @section scripts{
        <script src="~/jqueryui/jquery-ui.js"></script>
        <script>
            $(function () {
                $("#StartDate").datepicker({ 
                    dateFormat: 'mm-dd-yy',
                    minDate: "+1",
                });
            });
        </script>
        <script>
            $(function () {
                $("#EndDate").datepicker({ dateFormat: 'mm-dd-yy' });
            });
        </script>
    }
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
}