@using FE.Models.Admin
@model AdminBookPrintAddViewModel
<h4>Add new book print</h4>
@using (Html.BeginForm("Add", "AdminBookPrint"))
{
    @Html.HiddenFor(x => x.BookTitle)
    @Html.HiddenFor(x => x.Id)
<div class="row">
    <div class="col-md-4">
        <tbody>
            <tr>
                <td>Book: </td>
                <td>@Model.BookTitle</td>
            </tr>
            <tr>
                <td><select asp-for="SelectedBranch" id="inputState" class="form-control">
                    <option selected>Choose branch</option>
                        @for (int i = 0; i < @Model.Branches.Count(); i++)
                            {
                                <option value="@Model.Branches.ElementAt(i)">@Model.Branches.ElementAt(i)</option>
                            }
                    </select></td>
                    @Html.ValidationMessageFor(x => x.SelectedBranch, null, new { @class = "text-danger" })
            </tr>
        </tbody>
    </div>
</div>
 <button type="submit" class="btn btn-primary">Submit</button>
}
