@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <span class="nav-link text-dark">Hello @User.Identity?.Name!</span>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="@Url.Action("Logout", "User")">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <span class="nav-link text-dark">Hello @User.Identity?.Name!</span>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="@Url.Action("Register", "User")">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="@Url.Action("Login", "User")">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="@Url.Action("Logout", "User")">Logout</a>
        </li>
    }
</ul>
