@model FE.Models.Admin.AdminReservationsViewModel

<h4>Reservations for user @Model.UserName</h4>
<table class="table">
    <thead>
        <tr>
            <th>Book</th>
            <th>From date</th>
            <th>To date</th>
            <th>Branch</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reservation in Model.reservations)
        {
            <tr>
                <td>@reservation.BookTitle</td>

                <td>@reservation.StartDate.ToString("dd-mm-yyyy")</td>
                <td>@reservation.EndDate.ToString("dd-mm-yyyy")</td>
                <td>@reservation.Branch.Name</td>
                <td>
                    @using (Html.BeginForm("Delete", "AdminReservation", new { resId = reservation.Id, userId = Model.UserId }, FormMethod.Post, true, new { @class = "form-inline" }))
                    {
                        @if (reservation.EndDate.Date > DateTime.Today)
                        {
                            <a class="btn btn-secondary my-1" href="@Url.Action("Edit", new { resId = reservation.Id, userId = Model.UserId })">Edit</a>
                        }
                        <input class="btn btn-secondary my-1" type="submit" value="Delete" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
