@model FE.Models.User.UserChangePasswordViewModel
@{
    ViewData["Title"] = "Change password";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(null, new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(x => x.CurrentPassword)
                @Html.PasswordFor(x => x.CurrentPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.CurrentPassword, null, new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.NewPassword)
                @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.NewPassword, null, new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.ConfirmNewPassword)
                @Html.PasswordFor(x => x.ConfirmNewPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.ConfirmNewPassword, null, new { @class = "text-danger" })
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        }
    </div>
</div>
