@model FE.Models.Admin.AdminAuthorEditViewModel
<link href="~/jqueryui/jquery-ui.css" rel="stylesheet" />

<h1>Edit author @Model.FirstName @Model.LastName</h1>

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(x => x.Id)
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(null, new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(x => x.FirstName)
                @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.FirstName, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.MiddleName)
                @Html.TextBoxFor(x => x.MiddleName, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.MiddleName, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.LastName)
                @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.LastName, null, new { @class = "text-danger" })
            </div>
            <hr />
            <div class="form-group">
                @Html.LabelFor(x => x.BirthDate)
                <input asp-for="BirthDate" type="text" class="form-control" placeholder="BirthDate" />

            </div>

            <button type="submit" class="btn btn-primary">Register</button>
        }
    </div>
</div>
@section scripts{
        <script src="~/jqueryui/jquery-ui.js"></script>
        <script>
            $(function () {
                $("#Release").datepicker({ dateFormat: 'dd-mm-yy' });
            });
        </script>
}