@model BookListViewModel

@{
    ViewData["Title"] = "Home Page";
}


<h4>Books</h4>



<div class="row">
    <div class="col-md-4">
        
    <form asp-controller="Home" asp-action="Index">
    
        <p>
            <div class="mb-2">
            Title: <input type="text" name="SearchString"  />
            <input type="submit" value="Search" />
            </div>
                <div class="mb-2">
            Genre: <select name="Genre" asp-items="Model.Genres">
            <option value="">All</option>
            </select>
            </div>
                <div class="mb-2">
            Min rating: <select name="rating">
            <option value="">None</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            </select>
            </div>
        </p>
    
    </form>
        
        <div>
             <a class="nav-link text-blue" href="@Url.Action("Index", "Author")">Search by author</a>
        </div>
             </div>
    </div>

    


<table class="table">
    <thead>
        <tr>
            <th>Book title</th>
            <th>Author</th>
            <th>Rating</th>
            <th>Genres</th>
            <th>Released</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Books)
        {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.AuthorName</td>

                @if (@book.RatingNumber.HasValue)
                    {
                        <td>@book.RatingNumber</td>
                    } else
                    {
                        <td>Not reviewed yet</td>
                    }
                

                    <td>@book.BookGenres</td>
                    <td>@book.Release.ToString("MM-dd-yyyy")</td>

                <td><a class="btn btn-secondary my-1" href="@Url.Action("Index", "Book", new { book.Id })">View</a></td>

                </tr>
        }
    </tbody>
</table>

